@using SomeStrangeDotNetProject.Models.JSON_translate_model
@using SomeStrangeDotNetProject.Models.JSON_translate_model.CollectionDataTypes
@using SomeStrangeDotNetProject.Models.JSON_translate_model.DataTypes
@model TreeModel
@functions {
    string RenderTree(TreeObject rout)
    {
        string htmlString = "<ul class='nested'>"; // string builder mb
        foreach (var child in rout)
        {
            htmlString += "<li>";
            if (child is TreeObject)
            {
                htmlString += $"<span class ='caret'>{child.Key}</span>";
                htmlString += RenderTree((TreeObject)child);
            }
            else if (child is TreeString)
            {
                htmlString += $"{child.Key}  {((TreeString)child).Value}";
            }
            htmlString += "</li>";
        }
        return htmlString += "</ul>";
    }
}

@using (Html.BeginForm("GetTree", "ShowTrees", FormMethod.Get))
{
    @Html.LabelFor(m => m.Id, "Tree name:")
    @Html.DropDownListFor(m => m.Id, (SelectList)ViewBag.Trees)

    <input type="submit" value="Load this tree" />
}

@{
    if (Model?.TreeRoot != null)
    {
        <ul id="myUL">
            <li>
                <span class ="caret">@Model.Name</span>
                @RenderTree(Model.TreeRoot)
            </li>
        </ul>
    }
}
