@using SomeStrangeDotNetProject.Models.JSON_translate_model
@using SomeStrangeDotNetProject.Models.JSON_translate_model.CollectionDataTypes
@using SomeStrangeDotNetProject.Models.JSON_translate_model.DataTypes
@model TreeModel

@using (Html.BeginForm("GetTree", "ShowTrees", FormMethod.Post))
{
    @Html.LabelFor(m => m.Id, "Tree name:")
    @Html.DropDownListFor(m => m.Id, (SelectList)ViewBag.Trees)

    <input type="submit" value="Load this tree" />
}

<br/>
@Html.Raw(Model?.Render().Replace("@Model.Name", Model.Name)) @* replacing may couse bugs and name conflicts*@

<br />
<p>
    watching trees:
    <ol>
        <li>You may either upload tree by using form above, or by typing path; (few examples on screenshots, github)</li>
        <li>Long path looks like that: "localhost/ShowTrees/GetTree/*your tree name*/*Keys*";</li>
        <li>Short variant: "localhost/*your tree name*/*Keys*";</li>
        <li>Navigating through arrays is not supported, but if you really want that, use next syntacsis ".../ArrayName/ArrayName.ArrayIndex", use it untill u get something that has it's own name</li>
        <li>If you have more than one tree with the same name only first one will be printed;</li>
    </ol>
</p>