@{
    ViewData["Title"] = "Connection";
}
<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SaveConnectionString">
    <label for="text">your db full path:</label>
    <input type="text" id="text" name="text" value="C:\DB temp\mssqlDb.mdf" title="Enter full path to your local database. Database should habve no user authetication"/>
    <button type="submit">apply</button>
</form>
<br/>
<p> Connect your db by using fullpath to your local db. Rules:
    <ol>
        <li>only local db used;</li>
        <li>it should be mssql;</li>
        <li>no login or password;</li>
        <li>there will be added two new tables named Trees and Objects;</li>
        <li>structure of the tables may be wathed in README.md on github;</li>
        <li>try not to delete db while program still running.</li>
    </ol>
</p>