@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFile">
    <div>
        <label for="file">Choose a file to upload:</label>
        <input type="file" id="file" name="file"/>
        <label for="nameInput">Enter a name for your tree</label>
        <input type="text" id="nameInput" name="nameInput"/>
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>
