@{
    ViewData["Title"] = "Connection";
}
<h1>@ViewData["Title"]</h1>

<form>
    <label for="text">your db full path:</label>
    <input type="text" id="text" name="text" value="C:\DB temp\mssqlDb.mdf" />
    <button type="submit">apply</button>
</form>