@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadNewTree">
    <div>
        <label for="file">Choose a file to upload:</label>
        <input type="file" id="file" title=".json or .txt file" name="file"/>
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>
