@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadNewTree">
    <div>
        <label for="file">Choose a file to upload:</label>
        <input type="file" id="file" title=".json or .txt file" name="file"/>
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>

<br />
<p>
    Upload file. Rules:
    <ol>
        <li>connect database first;</li>
        <li>select a .json or .txt file from your computer;</li>
        <li>tree will be named after filename, try to use unique file names if possible;</li>
        <li>if .json file it should be valid, may have all JSON types incide wich include Array, Object, String, Number, Null, Bool;</li>
        <li>if .txt file it must have structure like in bonus1, only strings and objects will be created, other types are not suported;</li>
        <li>mind that Name of the property should be <strong>not longer than 120</strong> symbols;</li>
        <li>and value property should be <strong>not longer than 255</strong> symbols.</li>
    </ol>
</p>
